@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/concord';
@import '$lib/RpgForSocialInteraction.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

body {
    height: 100vh;
    font-family: "Poppins", serif;
    font-style: normal;
    background-color: #464646;
}